fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose
passlib[bcrypt]
jinja2
requests
psycopg2-binary==2.9.9 #feel free to change depending on your windows(or any operating system) version
python-dotenv
pydantic[email]
